%ul.nav.nav-justified
  = nav_link 'Architektur', '/architektur.html'
  = nav_link 'Dienstleistungen', '/dienstleistungen.html'
  = nav_link 'Firma', '/firma.html'
  = nav_link 'Immobilien', '/immobilien.html'
  = nav_link 'Kontakt', '/kontakt.html'
