<nav id="navigation">
  <ul>
    <%= nav_link 'Architektur', '/architektur.html' %>
    <%= nav_link 'Baumanagement', '/baumanagement.html' %>
    <%= nav_link 'Bauherrenberatung', '/bauherrenberatung.html' %>
    <%= nav_link 'Philosohpie', '/philosophie.html' %>
    <%= nav_link 'Firma', '/firma.html' %>
    <%= nav_link 'Ausbildung', '/ausbildung.html' %>
    <%= nav_link 'Jobs', '/jobs.html' %>
    <%= nav_link 'Immobilien', '/immobilien.html' %>
    <%= nav_link 'Kontakt', '/kontakt.html' %>
    <li class="stretch"></li>
  </ul>
</nav>
