---
layout: 'default'
title: 'Architektur'
keywords: 'Architektur, Neubau, Umbau und Renovation, Integrierte Wandbeleuchtung, Projektplanung'
description: 'Durchführung von Architekturarbeiten für Neubauten, Umbauten und Renovationen.'
galleries:
  - name: 'Aktuelle Projekte'
    galleries:
      - name: 'Siegwart Fischbach-Göslikon'
        photos:
          - title: '2-Fam. Haus Hagenbuch - Oberlunkhofen'
            path: 'galleries/4/0/0-perspektive.jpg'
  - name: 'Neubau'
    galleries:
      - name: 'Archivbauten vor 2000'
        photos:
          - title: '2-Fam. Haus Hagenbuch - Oberlunkhofen'
            path: 'galleries/0/0/0-2-fam-haus-hagenbuch-oberlunkhofen.jpg'
          - title: '2-Fam. Haus Rottenschwil'
            path: 'galleries/0/0/1-2-fam-haus-rottenschwil.jpg'
          - title: '2-Fam. Haus Rottenschwil'
            path: 'galleries/0/0/2-2-fam-haus-rottenschwil.jpg'
          - title: '2-Fam. Haus Rottenschwil'
            path: 'galleries/0/0/3-2-fam-haus-rottenschwil.jpg'
          - title: '2-Fam. Haus Rottenschwil'
            path: 'galleries/0/0/4-2-fam-haus-rottenschwil.jpg'
          - title: '3-Fam. Haus J. Giger Mühlau'
            path: 'galleries/0/0/5-3-fam-haus-j-giger-muhlau.jpg'
          - title: 'Burger Würenlingen'
            path: 'galleries/0/0/6-burger-wurenlingen.jpg'
          - title: 'DEFH Gebr. Käppeli Rickenbach'
            path: 'galleries/0/0/7-defh-gebr-kappeli-rickenbach.jpg'
          - title: 'Hausherr Birri'
            path: 'galleries/0/0/8-hausherr-birri.jpg'
          - title: 'K. Mettler Mühlau'
            path: 'galleries/0/0/9-k-mettler-muhlau.jpg'
          - title: 'K. Mettler Mühlau'
            path: 'galleries/0/0/10-k-mettler-muhlau.jpg'
          - title: 'Wohn- und Geschäftshaus Lübbert - Buttwil'
            path: 'galleries/0/0/11-wohn--und-geschaftshaus-lubbert-buttwil.jpg'
      - name: 'DEFH Kaplaneiweg - Jonen'
        photos:
          - title: 'Fassaden'
            path: 'galleries/0/1/0-fassaden.jpg'
          - title: 'Fassaden'
            path: 'galleries/0/1/1-fassaden.jpg'
          - title: 'Lehmputz'
            path: 'galleries/0/1/3-lehmputz.jpg'
          - title: 'Lehmputz'
            path: 'galleries/0/1/4-lehmputz.jpg'
          - title: 'Lehmputz'
            path: 'galleries/0/1/7-lehmputz.jpg'
          - title: 'Lehmputz'
            path: 'galleries/0/1/10-lehmputz.jpg'
          - title: 'Lehmputz'
            path: 'galleries/0/1/12-lehmputz.jpg'
          - title: 'Lehmputz'
            path: 'galleries/0/1/17-lehmputz.jpg'
          - title: 'IMG 0024.JPG'
            path: 'galleries/0/1/18-img-0024.jpg'
      - name: 'EFH Burkardusstrasse - Buttwil'
        photos:
          - title: 'IMG 0001'
            path: 'galleries/0/2/0-img-0001.jpg'
          - title: 'IMG 0003'
            path: 'galleries/0/2/1-img-0003.jpg'
      - name: 'EFH Kreuzstrasse - Muri'
        photos:
          - title: 'IMG 0001'
            path: 'galleries/0/3/0-img-0001.jpg'
          - title: 'IMG 0003'
            path: 'galleries/0/3/1-img-0003.jpg'
          - title: 'IMG 0042'
            path: 'galleries/0/3/2-img-0042.jpg'
          - title: 'IMG 0047'
            path: 'galleries/0/3/3-img-0047.jpg'
          - title: 'IMG 0050'
            path: 'galleries/0/3/4-img-0050.jpg'
      - name: 'EFH Panoramastrasse - Merenschwand'
        photos:
          - title: 'IMG 0061.JPG'
            path: 'galleries/0/4/0-img-0061.jpg'
          - title: 'IMG 0075.JPG'
            path: 'galleries/0/4/1-img-0075.jpg'
          - title: 'IMG 0082.JPG'
            path: 'galleries/0/4/2-img-0082.jpg'
          - title: 'IMG 0086.JPG'
            path: 'galleries/0/4/3-img-0086.jpg'
      - name: 'EFH Spitalstrasse - Muri'
        photos:
          - title: 'IMG 0008.JPG'
            path: 'galleries/0/5/0-img-0008.jpg'
          - title: 'IMG 0015.JPG'
            path: 'galleries/0/5/1-img-0015.jpg'
          - title: 'IMG 0022.JPG'
            path: 'galleries/0/5/2-img-0022.jpg'
      - name: 'EFH Strebel - Benzenschwil'
        photos:
          - title: 'IMG 0080.JPG'
            path: 'galleries/0/6/0-img-0080.jpg'
          - title: 'IMG 0082.JPG'
            path: 'galleries/0/6/1-img-0082.jpg'
          - title: 'IMG 0129.JPG'
            path: 'galleries/0/6/2-img-0129.jpg'
          - title: 'IMG 0130.JPG'
            path: 'galleries/0/6/3-img-0130.jpg'
          - title: 'IMG 0133.JPG'
            path: 'galleries/0/6/4-img-0133.jpg'
          - title: 'IMG 0134.JPG'
            path: 'galleries/0/6/5-img-0134.jpg'
          - title: 'IMG 0135.JPG'
            path: 'galleries/0/6/6-img-0135.jpg'
          - title: 'IMG 0145.JPG'
            path: 'galleries/0/6/7-img-0145.jpg'
          - title: 'IMG 0152.JPG'
            path: 'galleries/0/6/8-img-0152.jpg'
          - title: 'IMG 0154.JPG'
            path: 'galleries/0/6/9-img-0154.jpg'
          - title: 'IMG 0156.JPG'
            path: 'galleries/0/6/10-img-0156.jpg'
          - title: 'IMG 0172.JPG'
            path: 'galleries/0/6/11-img-0172.jpg'
          - title: 'IMG 0214.JPG'
            path: 'galleries/0/6/12-img-0214.jpg'
          - title: 'IMG 1926.JPG'
            path: 'galleries/0/6/14-img-1926.jpg'
      - name: 'Ueberbauung Weidstrasse - Jonen - Ribauto GmbH Mühlau'
        galleries:
          - name: 'Haus 1'
            photos:
              - title: 'Abendstimmung'
                path: 'galleries/0/7/0/0-abendstimmung-in-jonen-inkl-hauser.jpg'
              - title: 'Rohbau'
                path: 'galleries/0/7/0/1-fassadenhaus-+-2.jpg'
              - title: 'Perspektive'
                path: 'galleries/0/7/0/2-h2203maximal.jpg'
              - title: 'Zufahrt'
                path: 'galleries/0/7/0/3-haus-innen-+-aussen.jpg'
              - title: 'Küche'
                path: 'galleries/0/7/0/4-haus-innen-+-aussen.jpg'
              - title: 'Eingang'
                path: 'galleries/0/7/0/5-haus-innen-+-aussen.jpg'
          - name: 'Haus 2'
            photos:
              - title: 'Küche'
                path: 'galleries/0/7/1/0-haus-flatsch-innen-und-aussen-vor-abnahme.jpg'
              - title: 'Wohnraum'
                path: 'galleries/0/7/1/1-haus-flatsch-innen-und-aussen-vor-abnahme.jpg'
              - title: 'Küche Essen'
                path: 'galleries/0/7/1/2-haus-flatsch-innen-und-aussen-vor-abnahme.jpg'
              - title: 'Fassade'
                path: 'galleries/0/7/1/3-haus-jonen-innen-und-aussen.jpg'
          - name: 'Haus 3'
            photos:
              - title: 'Abendstimmung'
                path: 'galleries/0/7/2/0-abendstimmung-in-jonen-inkl-hauser.jpg'
              - title: 'Zufahrt'
                path: 'galleries/0/7/2/1-haus-jonen-innen-und-aussen.jpg'
              - title: 'Fassade'
                path: 'galleries/0/7/2/2-haus-jonen-innen-und-aussen.jpg'
              - title: 'Bad'
                path: 'galleries/0/7/2/3-haus-jonen-innen-und-aussen.jpg'
              - title: 'Bad'
                path: 'galleries/0/7/2/4-haus-jonen-innen-und-aussen.jpg'
              - title: 'Perspektive'
                path: 'galleries/0/7/2/5-hausmaximal.jpg'
  - name: 'Umbau, Anbau & Renovation'
    galleries:
      - name: 'Archivbauten vor 2000'
        photos:
          - title: 'Ausbau bestehende Scheune L. Gumann - Oberlunkhofen'
            path: 'galleries/1/0/1-ausbau-bestehende-scheune-l-gumann-oberlunkhofen.jpg'
          - title: 'N. Joho - Althäusern'
            path: 'galleries/1/0/2-n-joho-althausern.jpg'
          - title: 'N. Joho - Althäusern'
            path: 'galleries/1/0/3-n-joho-althausern.jpg'
          - title: 'RK Mühlau'
            path: 'galleries/1/0/4-rk-muhlau.jpg'
          - title: 'Weibel - Benzenschwil'
            path: 'galleries/1/0/5-weibel-benzenschwil.jpg'
          - title: 'Wohnhaus U. Staubli - Althäusern'
            path: 'galleries/1/0/6-wohnhaus-u-staubli-althausern.jpg'
      - name: 'Anbau EFH Rüstenschwil - Auw'
        photos:
          - title: 'IMG 0010'
            path: 'galleries/1/1/0-img-0010.jpg'
          - title: 'IMG 0011'
            path: 'galleries/1/1/1-img-0011.jpg'
          - title: 'IMG 0012'
            path: 'galleries/1/1/2-img-0012.jpg'
      - name: 'Fotostudio Mettler - Jonen'
        photos:
          - title: 'Fotostudio Mettler - Jonen'
            path: 'galleries/1/2/0-fotostudio-mettler-jonen.jpg'
          - title: 'Fotostudio Mettler - Jonen'
            path: 'galleries/1/2/1-fotostudio-mettler-jonen.jpg'
          - title: 'Fotostudio Mettler - Jonen'
            path: 'galleries/1/2/2-fotostudio-mettler-jonen.jpg'
          - title: 'Fotostudio Mettler - Jonen'
            path: 'galleries/1/2/3-fotostudio-mettler-jonen.jpg'
      - name: 'Gebäudeaufnahmen'
        documents:
          - title: 'Aufnahme Fassaden'
            path: 'galleries/1/3/0-aufnahme-fassaden.pdf'
          - title: 'Aufnahme GR Erdgeschoss'
            path: 'galleries/1/3/1-aufnahme-gr-erdgeschoss.pdf'
      - name: 'Geschäftsdomizil Architekturbüro Thomas Giger - Mühlau'
        galleries:
          - name: '2.5 Z-Wohnung EG'
            photos:
              - title: 'IMG 0115.JPG'
                path: 'galleries/1/4/0/0-img-0115.jpg'
              - title: 'IMG 0116.JPG'
                path: 'galleries/1/4/0/1-img-0116.jpg'
              - title: 'IMG 0127.JPG'
                path: 'galleries/1/4/0/2-img-0127.jpg'
          - name: '3 Z-Wohnung DG'
            photos:
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/0-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/1-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/2-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/3-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/4-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/5-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/6-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/7-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: ' Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/8--fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/9-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/10-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/11-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/12-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/13-fertigstellung-3zw-bachweg-muhlau.jpg'
              - title: 'Fertigstellung 3.Z.W. Bachweg - Mühlau'
                path: 'galleries/1/4/1/14-fertigstellung-3zw-bachweg-muhlau.jpg'
          - name: 'Architektur Büro OG'
            photos:
              - title: 'Büro Ost Fertigstellung'
                path: 'galleries/1/4/2/0-buro-ost-lehrlinge.jpg'
              - title: 'Büro Ost Fertigstellung'
                path: 'galleries/1/4/2/1-buro-ost-lehrlinge.jpg'
              - title: 'Büro West Fertigstellung'
                path: 'galleries/1/4/2/2-buro-west-fertigstellung.jpg'
              - title: 'Büro West Fertigstellung'
                path: 'galleries/1/4/2/3-buro-west-fertigstellung.jpg'
              - title: 'Büro West Fertigstellung'
                path: 'galleries/1/4/2/4-buro-west-fertigstellung.jpg'
              - title: 'Büro West Fertigstellung'
                path: 'galleries/1/4/2/5-buro-west-fertigstellung.jpg'
              - title: 'Büro West Fertigstellung'
                path: 'galleries/1/4/2/6-buro-west-fertigstellung.jpg'
              - title: 'Treppenhaus Farben'
                path: 'galleries/1/4/2/7-treppenhaus-farben.jpg'
          - name: 'Fassaden'
            photos:
              - title: 'IMG 0001.JPG'
                path: 'galleries/1/4/3/0-img-0001.jpg'
              - title: 'IMG 0002.JPG'
                path: 'galleries/1/4/3/1-img-0002.jpg'
              - title: 'IMG 0003.JPG'
                path: 'galleries/1/4/3/2-img-0003.jpg'
              - title: 'IMG 0004.JPG'
                path: 'galleries/1/4/3/3-img-0004.jpg'
              - title: 'IMG 0007.JPG'
                path: 'galleries/1/4/3/4-img-0007.jpg'
              - title: 'IMG 0008.JPG'
                path: 'galleries/1/4/3/5-img-0008.jpg'
              - title: 'IMG 0009.JPG'
                path: 'galleries/1/4/3/6-img-0009.jpg'
              - title: 'IMG 0012.JPG'
                path: 'galleries/1/4/3/7-img-0012.jpg'
              - title: 'IMG 0013.JPG'
                path: 'galleries/1/4/3/8-img-0013.jpg'
      - name: 'Restauration Wyssebacher Sagi'
        description: '<a href="http://www.wyssebachersagi.ch">www.wyssebachersagi.ch</a>'
        photos:
          - title: 'Nach Restauration'
            path: 'galleries/1/5/0-gv-und-muhlentag.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/1-gv-und-muhlentag.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/2-gv-und-muhlentag.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/3-img-0054.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/4-img-0057.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/5-img-0058.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/6-img-0072.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/7-img-0085.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/8-img-0090.jpg'
          - title: 'Nach Restauration'
            path: 'galleries/1/5/9-img-0126.jpg'
          - title: 'Mühlentag 2007'
            path: 'galleries/1/5/10-muhlentag-2007.jpg'
          - title: 'Mühlentag 2007'
            path: 'galleries/1/5/11-muhlentag-2007.jpg'
          - title: 'Mühlentag 2007'
            path: 'galleries/1/5/12-muhlentag-2007.jpg'
          - title: 'Mühlentag 2007'
            path: 'galleries/1/5/13-muhlentag-2007.jpg'
          - title: 'Mühlentag 2007'
            path: 'galleries/1/5/14-muhlentag-2007.jpg'
          - title: 'Mühlentag 2007'
            path: 'galleries/1/5/15-muhlentag-2007.jpg'
          - title: 'Mühlentag 2007'
            path: 'galleries/1/5/16-muhlentag-2007.jpg'
          - title: 'Wyssebacher Sagi Boswil vor Restauration'
            path: 'galleries/1/0/7-wyssebacher-sagi-boswil-vor-restauration.jpg'
          - title: 'Wyssebacher Sagi Boswil vor Restauration'
            path: 'galleries/1/0/8-wyssebacher-sagi-boswil-vor-restauration.jpg'
          - title: 'Wyssebacher Sagi Boswil vor Restauration'
            path: 'galleries/1/0/9-wyssebacher-sagi-boswil-vor-restauration.jpg'
          - title: 'Wyssebacher Sagi Boswil vor Restauration'
            path: 'galleries/1/0/10-wyssebacher-sagi-boswil-vor-restauration.jpg'
          - title: 'Wyssebacher Sagi Boswil vor Restauration'
            path: 'galleries/1/0/11-wyssebacher-sagi-boswil-vor-restauration.jpg'
          - title: 'Wyssebacher Sagi Boswil vor Restauration'
            path: 'galleries/1/0/12-wyssebacher-sagi-boswil-vor-restauration.jpg'
          - title: 'Wyssebacher Sagi Boswil vor Restauration'
            path: 'galleries/1/0/13-wyssebacher-sagi-boswil-vor-restauration.jpg'
      - name: 'Umbau Lovaglio - Maschwanden'
        photos:
          - title: 'Lovaglio'
            path: 'galleries/1/6/0-lovaglio.jpg'
          - title: 'Lovaglio'
            path: 'galleries/1/6/1-lovaglio.jpg'
          - title: 'Lovaglio'
            path: 'galleries/1/6/2-lovaglio.jpg'
          - title: 'Lovaglio'
            path: 'galleries/1/6/3-lovaglio.jpg'
          - title: 'Lovaglio'
            path: 'galleries/1/6/4-lovaglio.jpg'
      - name: 'Umbau und Fassadenrenovation W. Haas - Jonen'
        photos:
          - title: 'Fassaden W. Haas - Jonen'
            path: 'galleries/1/7/0-fassaden-w-haas-jonen.jpg'
          - title: 'Haas Bei Ausbruch EG Z. Wohnung'
            path: 'galleries/1/7/1-haas-bei-ausbruch-eg-z-wohnung.jpg'
          - title: 'Haas Fenster Gebäudeprogramm'
            path: 'galleries/1/7/2-haas-fenster-gebaudeprogramm.jpg'
          - title: 'Haas Jonen Rohbau innen'
            path: 'galleries/1/7/3-haas-jonen-rohbau-innen.jpg'
          - title: 'Haas Jonen Rohbau innen'
            path: 'galleries/1/7/4-haas-jonen-rohbau-innen.jpg'
          - title: 'Haas Jonen Rohbau innen'
            path: 'galleries/1/7/5-haas-jonen-rohbau-innen.jpg'
  - name: 'Projektplanung'
    galleries:
      - name: 'Maschwanden - Einwohnergemeinde'
        photos:
          - title: 'Bild 3'
            path: 'galleries/1/3/0-bild-3.jpg'
          - title: 'Bild 4'
            path: 'galleries/1/3/1-bild-4.jpg'
        documents:
          - title: 'GR Erdgeschoss'
            path: 'galleries/2/0/0-baueingabe-gr-erdgeschoss.pdf'
          - title: 'Nord-Süd-Fassaden'
            path: 'galleries/2/0/1-baueingabe-nord-sud-fassaden.pdf'
      - name: 'Einbau von Wohnungen Schoren Mühlau - Vollenweider Bau AG'
        photos:
          - title: 'IMG 0002'
            path: 'galleries/2/1/0-img-0002.jpg'
          - title: 'IMG 0003'
            path: 'galleries/2/1/1-img-0003.jpg'
          - title: 'IMG 0004'
            path: 'galleries/2/1/2-img-0004.jpg'
          - title: 'IMG 0006'
            path: 'galleries/2/1/3-img-0006.jpg'
      - name: 'Gewerbehalle in Merenschwand - Vollenweider Bau AG'
        photos:
          - title: 'IMG 0007'
            path: 'galleries/2/2/0-img-0007.jpg'
          - title: 'IMG 0008'
            path: 'galleries/2/2/1-img-0008.jpg'
          - title: 'IMG 0011'
            path: 'galleries/2/2/2-img-0011.jpg'
          - title: 'IMG 0013'
            path: 'galleries/2/2/3-img-0013.jpg'
          - title: 'IMG 0015'
            path: 'galleries/2/2/4-img-0015.jpg'
      - name: 'Parzelle - Muri'
        photos:
          - title: 'Ansicht Nord-Ost'
            path: 'galleries/2/3/0-ansicht-nord-ost.jpg'
          - title: 'Ansicht Süd-Ost'
            path: 'galleries/2/3/1-ansicht-sud-ost.jpg'
          - title: 'Grundstück und Lage'
            path: 'galleries/2/3/2-grundstuck-und-lage.jpg'
          - title: 'Grundstück und Lage'
            path: 'galleries/2/3/3-grundstuck-und-lage.jpg'
          - title: 'Innenansicht EG'
            path: 'galleries/2/3/4-innenansicht-eg.jpg'
          - title: 'Innenansicht Küche'
            path: 'galleries/2/3/5-innenansicht-kuche.jpg'
  - name: 'Lehmputze'
    description: 'Lehmputze als Naturbaustoffe strahlen in unseren Wohnräumen eine grosse Behaglichkeit aus. Über Haga Lehmgrundputz, Haga Lehmfarbe, Lehmstreichputs und Haga Lehmcolor, farbige Lehmdeckputze können diverse Innenputzaufbauten mit natürlichen Baustoffen erstellt werden.<br><br>Die vielen positiven Eigenschaften, wie Farbe und Putz in einem, dank Beigabe natürlicher Farbpigmente, atmungsaktiv und feuchtigkeitsregulierend, schall-und brandhemmend, etc. und vieles mehr kann unter der Webseite <a href="http://www.haganatur.ch">www.haganatur.ch</a> nachgelesen werden.'
    galleries:
      - name: 'R. Moser Besenbüren'
        photos:
          - title: 'Bild 1'
            path: 'galleries/5/0/0-img-0057.jpg'
          - title: 'Bild 2'
            path: 'galleries/5/0/1-img-0058.jpg'
          - title: 'Bild 3'
            path: 'galleries/5/0/2-img-0059.jpg'
          - title: 'Bild 4'
            path: 'galleries/5/0/3-img-0066.jpg'
          - title: 'Bild 5'
            path: 'galleries/5/0/4-img-0068.jpg'
          - title: 'Bild 6'
            path: 'galleries/5/0/5-img-0089.jpg'
          - title: 'Bild 7'
            path: 'galleries/5/0/6-img-0093.jpg'
      - name: 'Th. Giger Jonen'
        photos:
          - title: 'Lehmputz DEFH Kaplaneiweg 6 Jonen'
            path: 'galleries/5/1/0-lehmputz.jpg'
          - title: 'Lehmputz DEFH Kaplaneiweg 6 Jonen'
            path: 'galleries/5/1/1-lehmputz.jpg'
          - title: 'Lehmputz DEFH Kaplaneiweg 6 Jonen'
            path: 'galleries/5/1/2-lehmputz.jpg'
          - title: 'Lehmputz DEFH Kaplaneiweg 6 Jonen'
            path: 'galleries/5/1/3-lehmputz.jpg'
          - title: 'Lehmputz DEFH Kaplaneiweg 6 Jonen'
            path: 'galleries/5/1/4-lehmputz.jpg'
  - name: 'Integrierte Wandbeleuchtung'
    description: 'Gemauerte Wandleuchten aus Gips und Lehm für indirekte Ausleuchtung. Diese Leuchtobjekte können in den verschiedensten Räumen eingemauert werden. Am besten zur Geltung kommen die Leuchten in Hallen oder  Treppenhäusern. Mit den verschiedenen Motiven ergeben sich interessante Licht- und Schatteneffekte. Der Formgebung sind keine Grenzen gesetzt. Das interessante ist, dass sich die gemauerten Leuchten  mit den Wänden sehr gut  verbinden und verschmelzen, und so ein Teil des Hauses werden.'
    photos:
      - title: 'Auswanderung'
        path: 'galleries/3/0-auswanderung.jpg'
      - title: 'Buckelwal mit Blitz'
        path: 'galleries/3/1-buckelwal-mit-blitz.jpg'
      - title: 'Buckelwal'
        path: 'galleries/3/2-buckelwal.jpg'
      - title: 'Delphin'
        path: 'galleries/3/3-delphin.jpg'
      - title: 'Gemauerte Wandleuchten'
        path: 'galleries/3/4-gemauerte-wandleuchten.jpg'
      - title: 'Seerose'
        path: 'galleries/3/8-seerose.jpg'
      - title: 'Spinne'
        path: 'galleries/3/10-spinne.jpg'
      - title: 'Steinbock mit Blitz'
        path: 'galleries/3/11-steinbock-mit-blitz.jpg'
---
%h2 Architektur
%p Planung und Ausführung von Hochbauten: Neubau, Umbau und Renovation.

%table.architecture

  - current_page.data.galleries.each_with_index do |area, area_index|

    %tr.title
      %td{ colspan: '2' }
        %h2.area= area.name

    - if area.galleries
      - if area.description
        %tr.border
          %td{ colspan: '2' }= area.description
      - area.galleries.each_with_index do |gallery, gallery_index|
        %tr{ class: gallery_index == 0 && !area.description ? 'border' : '' }
          %td.desc
            %h3= gallery.name
            %p= gallery.description
          %td.short
            - if gallery.galleries
              - gallery.galleries.each_with_index do |subgallery, subgallery_index|
                - subgallery.photos.each_with_index do |photo, photo_index|
                  %a{class: "gallery #{photo_index == 0 ? 'first' : 'other'}", href: "/#{photo.path}", rel: "group-#{area_index}-#{gallery_index}-#{subgallery_index}", title: photo.title}= subgallery.name
                  - if photo_index == 0
                    %br/
            - else
              - if gallery.photos
                - gallery.photos.each_with_index do |photo, photo_index|
                  %a{class: "gallery #{photo_index == 0 ? 'first' : 'other'}", href: "/#{photo.path}", rel: "group-#{area_index}-#{gallery_index}", title: photo.title} Fotoalbum
                  - if photo_index == 0
                    %br/
              - if gallery.documents
                - gallery.documents.each_with_index do |document, document_index|
                  %a.iframe{class: "gallery #{document_index == 0 ? 'first' : 'other'}", href: "/#{document.path}", rel: "group-doc-#{area_index}-#{gallery_index}", title: document.title} Pläne
    - else
      - if area.photos
        %tr.border
          %td.desc
            %p= area.description
          %td.short
            - area.photos.each_with_index do |photo, photo_index|
              %a{class: "gallery #{photo_index == 0 ? 'first' : 'other'}", href: "/#{photo.path}", rel: "group-#{area_index}", title: photo.title} Fotoalbum
              - if photo_index == 0
                %br/
